<ol class="rounded">
    <li><a class='btn' href="{% url "post-detail-page" post.slug %}">
        <h3>{{ post.title }}</h3>
        <div class="post_area">
            <p>{{ post.excerpt }}</p>
{#            <img src="" alt="Картинка">#}
        </div>


        <div class="hidden_elements">
            <h3 id="ch1">Дата Создания {{ post.date }} </h3>
            <h3 id="ch2">Автор {{ post.author }} </h3>



        </div>


    </a>
    </li>
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}

</ol>

