<ol class="rounded">
    <li><a class='btn' href="{% url "post-detail-page" "the-mountains" %}">
        <h3>Заголовок</h3>
        <div class="post_area">
            <p> Тут будет описание поста </p>
            <img src="" alt="Картинка">
        </div>


        <div class="hidden_elements">
            <h3 id="ch1">Последнее сохренение </h3>
            <h3 id="ch2">Автор </h3>



        </div>


    </a>
    </li>
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}
    {#    <li><a class='btn' href="#">Элемент списка</a></li>#}

</ol>

