{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block title %}
    My Blog
{% endblock %}


{% block content %}






                    <ol class="rounded">
                        <li><a class = 'btn' href="#">Элемент списка</a></li>
                        <li><a class = 'btn' href="#">Элемент списка</a></li>
                        <li><a class = 'btn' href="#">Элемент списка</a></li>
                        <li><a class = 'btn' href="#">Элемент списка</a></li>
                        <li><a class = 'btn' href="#">Элемент списка</a></li>
                        <li><a class = 'btn' href="#">Элемент списка</a></li>
                        <li><a class = 'btn' href="#">Элемент списка</a></li>

                    </ol>





<script type="text/javascript" src="{% static "./blog/js/blog.js" %}"></script>
{% endblock %}


