{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block title %}
    My Blog
{% endblock %}


{% block content %}



    <div class="intro">
        <div class="container">

            <div class="intro__inner">
{#                <div id="rectangle">#}

                    <ol class="rounded">
                        <li><a href="#">Элемент списка</a></li>
                        <li><a href="#">Элемент списка</a></li>
                        <li><a href="#">Элемент списка</a></li>
                        <li><a href="#">Элемент списка</a></li>
                        <li><a href="#">Элемент списка</a></li>
                        <li><a href="#">Элемент списка</a></li>
                        <li><a href="#">Элемент списка</a></li>

                    </ol>

{#                </div>#}

            </div>
        </div>
    </div>


{% endblock %}