{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock %}

{% block title %}

{% endblock %}


{% block content %}
    <h1>Post Title</h1>

    <address>By Nikita</address>
    <div>Last update on <time>JULY 10th</time></div>

    <main>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt eum id ipsa neque, nostrum
                numquam odio praesentium. Asperiores distinctio doloremque, eveniet itaque modi nihil ratione
                voluptatum! Laudantium, porro possimus.</p>

    </main>


{% endblock %}